html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Prata", serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5rem;
}
button {
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
button:hover {
  background-color: #fcbc66;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}
.container {
  padding: 2rem 10vmax;
}
.card-closed {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.card-open {
  max-height: 100rem;
  transition: all 0.6s ease;
}
.tool {
  background-color: #8dc6bf;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  white-space: nowrap;
  width: auto;
}
.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
